:root {
    --main0: #331D2C;
    --main1: #3F2E3E;

    --white: rgb(238, 238, 238);

    --accent1: #A78295;
    --accent1light: #dca4c1;
    --accent2: #EFE1D1;
    --accent2light: #f6ebde;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
}

body {
    background-color: var(--accent1);
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

    #workDiv {
        height: 40svw;
        width: 40svw;
        background-color: var(--accent2);
        display: flex;
        /* justify-content: center; */
        flex-direction: column;

        #inputText {
            margin: .5svw 10%;
            padding: .5svw;
            height: 4svw;
            width: 80%;
            font-size: 2svw;
            background-color: var(--accent1light);

            &:focus {
                outline: 0;
                background-color: var(--white);
            }
        }
        #inputFile {
            margin: .5svw 10%;
            text-align: center;
            height: 3svw;
            width: 80%;
            font-size: 1.4svw;
            background-color: var(--accent1light);

            &::file-selector-button {
                border: .15svw var(--accent2) solid;
                background-color: var(--accent2light);
                margin: 0.4svw;
                border-radius: .2svw;
            }
        }

        .input {
            border: .15svw var(--accent1light) solid;
            border-radius: .5svw;
        }

        #result {
            width: 80%;
            height: 40%;
            margin: 10%;
            background-color: var(--accent2light);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                border: var(--accent1light) 1svw solid;
            }

            img {
                max-width: 80%;
                min-width: 60%;
                height: auto;
                /* width: 80%; */
                max-height: 80%;
                height: auto;
                image-rendering: crisp-edges;
                image-rendering: pixelated;
            }
        }
        #gapSpaceDiv {
            display: flex;
            justify-content: space-around;

            div {
                label {
                    font-size: 2.2svw;
                }
                input {
                    width: 4svw;
                    text-align: center;
                    height: 4svw;
                    width: 6svw;
                    font-size: 3svw;
                    background-color: var(--accent1light);
                    margin: .5svw;

                    &:focus {
                        outline: 0;
                        background-color: var(--white);
                    }
                    &:not(:focus) {
                        -moz-appearance: textfield;
                        appearance: textfield;
                    }
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }
    }
}